<html>
  <head>
    <style>
      /* Aquatic-themed styles */
      body {
        font-family: Arial, sans-serif;
        background-color: #aee7ff; /* Light blue resembling water */
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        width: 350px;
        padding: 20px;
        border-radius: 8px;
        background-color: #ffffff; /* White container */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #004d99; /* Dark blue for headings */
      }

      form {
        display: flex;
        flex-direction: column;
      }

      .form-group {
        margin-bottom: 15px;
      }

      label {
        font-weight: bold;
        margin-bottom: 5px;
        display: block;
        color: #004d99; /* Dark blue for labels */
      }

      input[type="text"],
      input[type="password"],
      input[type="submit"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }

      input[type="submit"] {
        background-color: #008cba; /* Blue-green color for submit button */
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      input[type="submit"]:hover {
        background-color: #00546b; /* Darker shade on hover */
      }
    </style>
  </head>
  <body>
    <div class="container">
      <form action="#">
        <h2>Durable Aquatic Login</h2>
        <label for="username">Username:</label>
        <input type="text" id="email" name="username" required />
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
        <input type="submit" value="Login" onclick="login()" />
      </form>
    </div>

    <script>
      function login() {
        let user = {
          email: email.value,
          password: password.value,
        };
        fetch("/user/login", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(user),
        })
          .then((response) => {
            console.log(response);
            if (response.ok) {
              window.location.href = "/user/home"; // Redirect to the specified URL
            } else if (response.status == 501) {
              alert("user Not Exist");
              console.error("Login failed");
            } else {
              alert("Wrong password");
            }
          })
          .catch((error) => {
            // Handle any errors
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
